@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background:linear-gradient(45deg, #FF652D,#FF8F58);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;

    font-size: 15px;

    position: relative;
}

main.container{
    background: white;
    min-width: 400px;
    min-height: 70vh;
    padding: 2rem;
    border-radius: 12px;
    margin-left: 100px;
}

div.logo-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
}

div.logo-titulo img{
    scale: 1.1;
    width: 250px;
}

div.logo-titulo h1{
    margin-bottom: 12px;
    color: rgb(102, 102, 102);
    font-weight: 500;
    font-size: 25px;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-field{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.295);
}

.input-field legend {
    font-weight: 500;
    margin-left: 10px;
}

.input-field input{
    height: 52px;
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
}

.input-field input::placeholder{
    font-size: 16px;
    color: rgba(128, 128, 128, 0.363);
}

a#forgot{
    margin-top: 20px;
}

a#forgot,a#sign-up{
    font-weight: 700;
    text-decoration: none;
    color: black;
    transition: all .3s ease;
}

a#forgot:hover,a#sign-up:hover{
    color: rgba(0, 0, 0, 0.747);
}

button[type="submit"]{
    margin-top: 15px;
    height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    background-color: #ff5a1e;
    color: white;
    transition: all .3s ease;
}

button[type="submit"]:hover{
    background-color:#ff4400;
}

#pSign-up{
    margin-bottom: 15px;
}

a#sign-up{
    margin-left: 4px;
}

main .alternative{
    display: flex;
    justify-content: center;

    margin-bottom: 15px;
}

main .alternative span{
    position: relative;
}

main .alternative span::before, main .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 142px;
    bottom: 45%;
    right: 35px;
    background: rgba(65, 65, 65, 0.24);
}

main .alternative span::after {
    left: 35px;
}


div.login-with{
    border: 1px solid rgba(12, 12, 12, 0.24);
    padding: 1rem;
    cursor: pointer;
    transition: all .4s ease;
}

div.login-with:hover{
    background-color: rgba(197, 197, 197, 0.288);
}

div.login-with a{
    text-decoration: none;
    color: black;
}

.fa-google{
    margin-right: 20px;
    scale: 1.3;
}

.mascote-img{
    width: 100vw;
    height: 100vh;
    background-image: url('./img/legumitos.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
}