@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
    /* variáveis de cor*/
    --cor-do-fundo: #F7F7F7;

    --cor-viva-1: #FF6516;
    --cor-viva-1-hover: #f05f17;
    --cor-viva-1-escura: #dd5816;

    --cor-viva-2: #588A24;
    --cor-viva-2-clara: #6ba72a9a;

    --cor-viva-3: #FFC666;
    --cor-viva-3-escura: #f1be64;

    --cor-font-opaca1: #DBDBDB;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;

    font-family: 'Poppins', sans-serif;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

html,
body {
    height: 100vh;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

/* ------------------------------- HEADER e MENU --------------------------- */
header {
    background-color: #F7F7F7;
    position: fixed;
    z-index: 1000;
    width: 100vw;
}

header .container {
    display: flex;
    align-items: center;

    width: 95%;
    max-width: 1280px;
    height: 64px;

    margin: auto;
    gap: 20px;
}

header img {
    width: 14rem;
}

header nav {
    display: flex;
    width: 100%;
}

header nav ul {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

header nav ul li {
    list-style: none;
}

header ul li a #current-page{
    color: #FD671A;
}


header nav .account {
    display: flex;
    width: 90%;
    justify-content: end;
    align-items: center;
}

header nav .account a {
    color: var(--cor-viva-1-escura);
    font-weight: 500;
}

header nav .account button {
    background-color: var(--cor-viva-1);
    width: 8rem;
    height: 3.5rem;

    font-weight: 600;
    font-size: 1.4rem;
    cursor: pointer;

    border: none;
    border-radius: 0.5rem;

    transition: all .3s;
}

header nav .account button a{
    color: white;

}

header nav ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.4rem 2.4rem;
    transition: all 250ms linear 0s;
    color: black;
}

/* hover */

header nav ul li a:hover {
    transition: all .2s;
    background: rgba(212, 212, 212, 0.247)
}

header nav .account a:hover {
    background: none;
    font-weight: 600;
    color: var(--cor-viva-1);
}

header nav .account button:hover {
    background-color: var(--cor-viva-1-hover);
    scale: 1.05;
}

header nav .account button a:hover{
    color: white;
}

/* ------------------------------- BANNER --------------------------- */

section.banner {
    background-color: var(--cor-viva-2);
}

section.banner .container {
    width: 90%;
    max-width: 980px;
    min-height: 33rem;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

section.banner p,
section.banner h2 {
    color: white;
    font-size: 3.6rem;
    font-weight: 500;
}

section.banner p {
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin: 35px 0px 20px;
    width: 57rem;
    color: var(--cor-font-opaca1);
    font-weight: 400;
}

section.banner p a {
    text-decoration: none;
    color: #FFC666;
}

section.banner .container img {
    position: absolute;
    right: -11rem;
    z-index: 0;
}

section.banner .container div {
    text-align: center;
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

section.banner .container form input {
    width: 68.5rem;
    height: 4.9rem;
    padding: 1rem 1rem 1rem 3.5rem;
    border: none;
    border-radius: 4px;

    font-size: 1.8rem;
}

section.banner .container form button {
    width: 14rem;
    height: 4.9rem;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--cor-viva-1);
    color: white;
    font-weight: 500;
    transition: all .3s ease;
    cursor: pointer;
}

section.banner .container form button:hover {
    background-color: var(--cor-viva-1-hover);
}

#icon-inpSearch {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#icon-inpSearch label {
    height: 100%;
    color: rgba(0, 0, 0, 0.438);

    position: absolute;

    display: flex;
    align-items: center;
    left: 1rem;

    font-size: 1.8rem;

}

/* ------------------------------- MAIN ------------------------------- */

/* ------ Card Restaurante e Card Mercado ------ */

main {
    background-color: white;
}

main section.cards-categorie {
    width: 90%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: auto;
}

main section .container {
    display: flex;
    padding: 7rem 0 0;
    margin-bottom: 90px;
}

main section .container .card {
    background-color: var(--cor-viva-1);
    width: 40.5rem;
    height: 21.5rem;

    border-radius: 20px;

    transition: all .3s ease;
    margin-right: 34px;
}

main section .container #market {
    background-color: var(--cor-viva-2);
    margin-right: 0;
}

main section .container .card .content {
    display: flex;
    flex-direction: column;
    margin: 20px 25px;
    position: relative;
}

main section .container .card .content img {
    position: absolute;
    left: 14.5rem;
    top: 3.4rem;
    width: 23rem;
}

main section .container .card .content #img-market {
    position: absolute;
    left: 15rem;
    top: 2.2rem
}

main section .container .card .content h3 {
    margin-bottom: 70px;
    font-size: 3.2rem;
    font-weight: 400;
    color: white;
}

main section .container .card .content div {
    background-color: var(--cor-viva-1-escura);

    width: 14.6rem;
    height: 3.6rem;
    border-radius: 12px;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main section .container .card .content #see-options-market {
    background-color: var(--cor-viva-2-clara);
}

/* hover */

main section .container .card:hover {
    scale: 1.02;
}

/* ------ Card Cosmético ------ */

main section .card-menor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    color: black;
}

main section .card-menor .background {
    background-color: var(--cor-viva-3);
    width: 19rem;
    height: 4.5rem;
    border-radius: 6px;
    position: relative;
}

main section .card-menor .texto {
    display: flex;
    margin-right: -9px;
    /*gambiarra*/
    margin-top: 5px;
}

main section .card-menor .background img {
    position: absolute;
    left: 4.5rem;
    bottom: 0;
    width: 10rem;
}

/* hover */

main section .card-menor:hover {
    color: black;
    transform: scale(1.02);
}

/* -------------- SLIDER-CARROSSEL --------------- */

/* ------ Os mais vendidos ------ */

main section.best-seller {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
}

main section.best-seller h3 {
    font-size: 2.4rem;
    font-weight: 400;
}

main section.best-seller .content-best-seller {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
}

main section.best-seller .content-best-seller .boxs {
    display: flex;
    width: 100%;
    padding: 2rem;
    max-width: 980px;
    overflow-x: auto;
    gap: 3.5rem;
}

main section.best-seller .content-best-seller .boxs .item {
    border: 3px solid #DCDCDC;
    border-radius: 8px;
    width: 23rem;
    height: 31.5rem;
    flex-shrink: 0;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.671);
    transition: all .5s ease;
}

main section.best-seller .content-best-seller .boxs .item figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100%;
    color: black;
}

main section.best-seller .content-best-seller .boxs .item figure figcaption p {
    margin-bottom: 20px;
}

main section.best-seller .content-best-seller .arrow-left,
main section.best-seller .content-best-seller .arrow-right {
    width: 5rem;
    height: 5rem;

    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.541);
    cursor: pointer;

    transition: all .3s ease;
}

main section.best-seller .content-best-seller .arrow-left {
    margin-right: 10px;
}

main section.best-seller .content-best-seller .arrow-right {
    margin-left: 10px;
}

main section.best-seller .content-best-seller .boxs::-webkit-scrollbar {
    display: none;
}

/* hover */
main section.best-seller .content-best-seller .arrow-left:hover,
main section.best-seller .content-best-seller .arrow-right:hover {
    background-color: #f1f1f1;
}

main section.best-seller .content-best-seller .boxs .item:hover {
    border: 3px solid #b8b8b8;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.76);
}

/* ------ Marcas que temos ------ */

main section.brands {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 418px;
}

main section.brands h3 {
    font-size: 2.4rem;
    font-weight: 400;
}

main section.brands .content-brands {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
}

main section.brands .content-brands .boxs {
    display: flex;
    width: 100%;
    padding: 2rem;
    max-width: 980px;
    overflow-x: auto;
    gap: 3.5rem;
}

main section.brands .content-brands .boxs .item2 {
    border: 3px solid #DCDCDC;
    border-radius: 8px;
    width: 23rem;
    height: 31.5rem;
    flex-shrink: 0;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.671);
    transition: all .5s ease;
}

main section.brands .content-brands .boxs .item2 figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 100%;
    color: black;
}

main section.brands .content-brands .boxs .item2 figure figcaption p {
    margin-top: 20px;
}

main section.brands .content-brands .arrow-left2,
main section.brands .content-brands .arrow-right2 {
    width: 5rem;
    height: 5rem;

    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.541);
    cursor: pointer;

    transition: all .3s ease;
}

main section.brands .content-brands .arrow-left2 {
    margin-right: 10px;
}

main section.brands .content-brands .arrow-right2 {
    margin-left: 10px;
}

main section.brands .content-brands .boxs::-webkit-scrollbar {
    display: none;
}

/* hover */
main section.brands .content-brands .arrow-left2:hover,
main section.brands .content-brands .arrow-right2:hover {
    background-color: #f1f1f1;
}

main section.brands .content-brands .boxs .item2:hover {
    border: 3px solid #b8b8b8;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.76);
}

/* -------------- Junte-se ao Veggie Place --------------- */

section.work-with-us {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 56px;
    padding: 10px;
}

section.work-with-us .content-work-with-us {
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: space-evenly;
}

section.work-with-us .box-card {
    border: 1px solid rgba(26, 26, 26, 0.226);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 54rem;
    height: 43rem;
    padding: 15px;

}

section.work-with-us .box-card h3 {
    font-size: 4rem;
    font-weight: 500;
}

section.work-with-us .box-card .text-and-img {
    display: flex;
}

section.work-with-us .box-card .text-and-img img {
    width: 240px;
}


section.work-with-us .box-card .text-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.work-with-us .box-card .text-and-button p {
    margin-bottom: 35px;
}

section.work-with-us .box-card .text-and-button a {
    background-color: var(--cor-viva-3);
    width: 178px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.582);

    transition: all .3s ease;
}

/* hover */

section.work-with-us .box-card .text-and-button a:hover {
    background-color: var(--cor-viva-3-escura);
    color: black;
}

/* -------------- Iformações sobre o Blog --------------- */

section.blog-info {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

section.blog-info .info1,
section.blog-info .info2 {
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
}

section.blog-info .info1 {
    margin-bottom: 40px;
}

section.blog-info .info2 {
    flex-direction: row-reverse;
}

section.blog-info .info1 .card-info,
section.blog-info .info2 .card-info {
    display: flex;
    border: 3px solid var(--cor-font-opaca1);
    border-radius: 10px;
    width: 650px;
    height: 270px;

    align-items: center;
    padding: 0 0 0 20px;

    box-shadow: 0 4px 4px #b6b6b67a;
    transition: all .3s ease;
}

section.blog-info .info1 .card-info img,
section.blog-info .info2 .card-info img {
    width: 240px;
}

section.blog-info .info1 .card-info .container-text,
section.blog-info .info2 .card-info .container-text {
    margin: 30px 23px 30px 30px;
    color: black;
}

section.blog-info .info1 .card-info .container-text p,
section.blog-info .info2 .card-info .container-text p {
    font-size: 1.4rem;
}

section.blog-info .info1 .card-info .container-text h4,
section.blog-info .info2 .card-info .container-text h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

section.blog-info .info1 .menssage-container,
section.blog-info .info2 .menssage-container {
    font-size: 5rem;
    max-width: 310px;
    text-align: center;
    margin: 20px 80px;

    line-height: 70px;
}

/* hover */

section.blog-info .info1 .card-info:hover,
section.blog-info .info2 .card-info:hover {
    border: 3px solid #d3d3d3;
}

/* ------------------------------- FOOTER ------------------------------- */

footer {
    background-image: url("./img/legumes-background.svg");
    background-color: #FFC666;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------ Section mais informações ------ */
footer section.more-info {
    display: flex;
    width: 100%;
    max-width: 1700px;
}

footer section.more-info .box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

footer section.more-info .box ul {
    list-style: none;
    line-height: 45px;
}

footer section.more-info .box ul li a {
    color: black;
    transition: all .2s ease;
}

/* hover */

footer section.more-info .box ul li a:hover {
    color: var(--cor-viva-1);
}


/* ------ Section copyright ------ */

footer section.copyright-and-terms {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1400px;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
}

footer section.copyright-and-terms .copyright-text {
    display: flex;
    flex-wrap: wrap;
}

footer section.copyright-and-terms .terms-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

footer section.copyright-and-terms .terms-links ul li a {
    color: black;
}

/* hover */
footer section.copyright-and-terms .terms-links ul li a:hover {
    color: var(--cor-viva-1);
}

.spacing {
    height: 64px;
}